<main>
    <section>
        <div class="header-pedido">
            <button class="btn-regresar" type="button" (click)="regresar()">← Volver</button>

            <h3>Mesa seleccionada: {{nombre_mesa}}</h3>
            <div *ngIf="id_pedido">
                <h3>Pedido: {{id_pedido}}</h3>
            </div>

        </div>
        <div class="filtros-header">
            <!-- Contenedor de filtros -->
            <div>
                <button type="button" class="button-style" (click)="buscar_filtro('inicio')">
                    <img src="icons/icons-sidebar/Home.svg" alt="Inicio" />
                    <h4>Inicio</h4>
                </button>
            </div>
            <div class="filtros-class">
                <button *ngFor="let filtro of categoria" type="button" class="button-style"
                    (click)="filtrarCategoria(filtro.id_tipo_platillo, filtro.descripcion); buscar_filtro('normal')">
                    <img [src]="filtro.ruta_icono" alt="" />
                    <h4>{{ filtro.descripcion }}</h4>
                </button>
            </div>

            <!-- Contenedor de otros botones -->
            <div class="Others">
                <a (click)="buscar_filtro('combo')" id="Combos-option" title="Combos-page" class="button-style">
                    <img src="icons/icons-sidebar/Gift.svg" alt="Combos">
                    <h4>Combos</h4>
                </a>
                <a (click)="buscar_filtro('oferta')" id="Ofertas-option" class="button-style" title="Ofertas-page">
                    <img src="icons/icons-sidebar/Tag.svg" alt="Ofertas-page">
                    <h4>Ofertas</h4>
                </a>
                <a href="/recomendaciones" id="Recomendacion-option" class="button-style" title="Recomendacion-option">
                    <img src="icons/icons-sidebar/star_filled.svg" alt="">
                    <h4>Recomendaciones</h4>
                </a>
            </div>
        </div>
        <div class="productos" [ngSwitch]="filtro_especial">
            <h1>Nuestros platillos</h1>
            <div *ngSwitchCase="'normal'">
                <app-tarjeta-product tipo="productos" [autoCargar]="false" [userview]="false" [favoritospage]="false"
                    [productosExternos]="productos"></app-tarjeta-product>
            </div>
            <div *ngSwitchCase="'combo'">
                <app-tarjeta-combo [combosExternos]="combos" [autoCargar]="false"></app-tarjeta-combo>
            </div>
            <div *ngSwitchCase="'oferta'">
                <app-tarjeta-oferta></app-tarjeta-oferta>
            </div>
        </div>
    </section>
</main>