<main>
    <section>
        <div class="header-pedido">
            <button class="btn-regresar" type="button" (click)="regresar()">← Volver</button>
            <h3>Mesa seleccionada: {{nombre_mesa}}</h3>
            <div *ngIf="id_pedido">
                <h3>Pedido: {{id_pedido}}</h3>
            </div>
        </div>

        <div class="filtros-header">
            <!-- Botón Home -->
            <div class="home_option">
                <button type="button" class="button-style" (click)="buscar_filtro('inicio')">
                    <img src="icons/icons-sidebar/Home.svg" alt="Inicio" />
                    <h4>Inicio</h4>
                </button>
            </div>

            <!-- Filtros dinámicos de categorías -->
            <div class="filtros-class">
                <button *ngFor="let filtro of categoria" type="button" class="button-style-filtro"
                    (click)="filtrarCategoria(filtro.id_tipo_platillo, filtro.descripcion); buscar_filtro('normal')">
                    <img [src]="getImageUrl(filtro.ruta_icono)" [alt]="filtro.descripcion" alt="" />
                    <h4>{{ filtro.descripcion }}</h4>
                </button>
            </div>

            <!-- Botones adicionales (Combos, Ofertas) -->
            <div class="Others">
                <button type="button" (click)="buscar_filtro('combo')" class="button-style" title="Combos">
                    <img src="icons/icons-sidebar/Gift.svg" alt="Combos">
                    <h4>Combos</h4>
                </button>
                <button type="button" (click)="buscar_filtro('oferta')" class="button-style" title="Ofertas">
                    <img src="icons/icons-sidebar/Tag.svg" alt="Ofertas">
                    <h4>Ofertas</h4>
                </button>
            </div>
        </div>

        <div class="productos" [ngSwitch]="filtro_especial">
            <h1>Nuestros platillos</h1>
            <div *ngSwitchCase="'normal'">
                <app-tarjeta-product tipo="productos" [autoCargar]="false" [userview]="false" [favoritospage]="false"
                    [productosExternos]="productos"></app-tarjeta-product>
            </div>
            <div *ngSwitchCase="'combo'">
                <app-tarjeta-combo [combosExternos]="combos" [autoCargar]="false"></app-tarjeta-combo>
            </div>
            <div *ngSwitchCase="'oferta'">
                <app-tarjeta-oferta></app-tarjeta-oferta>
            </div>
        </div>
    </section>
</main>