<section>
    <!-- Indicador de conexión WebSocket -->


    <!-- Indicador de carga
    <div *ngIf="cargando" class="loading-spinner">
        <p>⏳ Cargando platillos...</p>
    </div> -->

    <div class="container">
        <!-- Cola de platillos pendientes -->
        <div class="cola_preparar">
            <div class="cabeza_cola">
                <h3>Platillos en Cola</h3>
            </div>
            <div class="cola">
                <div *ngFor="let pedido of pedidos_absolute; let i = index">
                    <!-- Lista de pedidos pendientes -->
                    <div class="pedido_button" (click)="abrirModalPedido(pedido)"
                        [ngClass]="{ 'open-btn': openedIndex === i }">

                        <h3>{{ pedido.nombre_completo }}</h3>
                        <h4>{{ pedido.direccion_completa }}</h4>

                        <span>ID: {{ pedido.id_pedido.substring(0,8) }}...</span>

                        <div class="estado_pedido">
                            <span>Estado: </span>
                            <span [ngClass]="pedido.estado_pedido"> {{ pedido.estado_pedido }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Platillo en preparación -->
        <div class="platillo_preparado">
            <div class="cabeza_preparando">
                <div class="nombre_usu">
                    <h3>Rol usuario: </h3>
                    <h3>Nombre Completo</h3>
                </div>

            </div>
            <div class="mapa_y_botones">

                <!-- Botones de acción -->
                <div class="botones_datos_pedido">
                    <div class="datos_pedido">
                        <h3 *ngIf="direccionSeleccionada">Destino:{{direccionSeleccionada}}</h3>
                        <h3 *ngIf="titularSeleccionado">Titular: {{titularSeleccionado}}</h3>
                    </div>
                    <div class="botones_accion">
                        <button type="button" class="empezar_ruta" title="Empezar ruta">Inciar entrega</button>
                        <button type="button" class="cancelar_pedido" title="Cancelar pedido"
                            (click)="seleccionar_que_cancelar()">Cancelar</button>
                    </div>
                </div>
                <!-- Platillo actual -->
                <div class="mapa">
                </div>
            </div>


        </div>
    </div>
</section>
<!-- MODAL -->
<div class="modal-backdrop" *ngIf="mostrarModal">
    <div class="modal-container">
        <div>
            <button class="cerrar" (click)="cerrarModal()">X</button>

            <h2>Pedido #{{ selectedPedido?.id_pedido }}</h2>
            <h3>Titular: {{ selectedPedido?.nombre_completo }}</h3>
            <h4>Dirección: {{ selectedPedido?.direccion_completa }}</h4>

            <hr>

            <div class="plato" *ngFor="let plato of selectedPedido?.platillos">
                <div class="datos_plato">
                    <h3>{{ plato.nombre_platillo }}</h3>
                    <span>{{ plato.detalles_adicionales }}</span><br>
                    <div class="estado_plato">
                        <span>Estado: </span><br>
                        <span [ngClass]="plato.estado_detalle"> {{ plato.estado_detalle }}</span><br>
                    </div>
                </div>
                <div class="button_cancelar">
                    <button type="button" title="Cancelar"
                        (click)="cancelar_pedido_entrega(plato.id_detalle, plato.id_pedido, plato.id_mesa)">Cancelar</button>
                </div>
            </div>

            <div class="cancelar_todo_pedido">
                <h3>Cancelar todo el pedido: </h3>
                <button class="cancelar-total"
                    (click)="cancelar_todo_pedido_entrega(selectedPedido.id_pedido, selectedPedido.nombre_completo)">
                    Cancelar Pedido
                </button>
            </div>
        </div>

        <div class="boton_seleccion">
            <button type="button" class="seleccionar_ruta" title="Seleccionar ruta"
                (click)="pedido_seleccionado(selectedPedido?.id_pedido, selectedPedido?.nombre_completo, selectedPedido?.direccion_completa)">
                Seleccionar pedido y Comenzar con la entrega
            </button>
        </div>
    </div>

</div>