/* ======= GENERAL ======= */
section {
    background-color: #f5f5f5;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 10px;
    gap: 10px;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}


.cola_preparar {
    flex: 1;
    border-right: #d6b45a solid 2px;
    padding: 10px;
}

.cabeza_cola {
    border-bottom: #d6b45a solid 2px;
}

.cola {
    width: 100%;
    height: 94%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    overflow-y: auto;
}



.platillo_preparado {
    flex: 3;
    min-height: 100%;
    padding: 10px;
}

.cabeza_preparando {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-bottom: #d6b45a solid 2px;
    width: 100%;
    justify-content: space-between;
}

.nombre_usu {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mapa_y_botones {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;

}

.mapa {
    background-color: #47484b;
    width: 100%;
    height: 70vh;
}

.botones_datos_pedido {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.datos_pedido {
    flex: 1;
    border-right: #d6b45a solid 1px
}

.datos_pedido h3 {
    font-size: medium;
}

.botones_accion {
    flex: 1;
    height: 10vh;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.botones_accion button {
    width: 50%;
    height: 100%;
}



/* ============================================= */
.pedido_button {
    cursor: pointer;
    padding: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background 0.2s, border-radius .2s;
    background-color: #fff;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: #d6b45a 1px solid;
    transition: 0.3s;
}

.pedido_button:hover {
    background: #fff6e5;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.pedido_button span {
    font-style: italic;
    color: #333;
    font-size: 1rem;
}

.pedido_button h3,
h4 {
    font-size: 1rem;
    font-weight: 300;
}

.pedido_button h3 {
    font-weight: 600;
}

.estado_pedido {
    display: flex;
    flex-direction: row;
    gap: 3px
}

.servido,
.Entregado {
    background-color: #d6b55aa1;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: #d6b45a solid 2px;
}

.listo,
.Listo {
    background-color: #578eada1;
    border: #578ead solid 2px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.cocinando,
.Preparando {
    background-color: #8b5e3ca1;
    border: #8b5e3c solid 2px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.pendiente,
.Pendiente {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #773832a1;
    border: #773832 solid 2px;
    border-radius: 10px;

}

.EnCamino {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #089c84a1;
    border: #089c84 solid 2px;
    border-radius: 10px;

}

.empezar_ruta {
    border: none;
    border-radius: 10px;
    background-color: #d6b45a;
    color: #ffff;
    font-size: 1rem;
    font-weight: 700;
}

.cancelar_pedido {
    border: none;
    border-radius: 10px;
    background-color: #773832;
    color: #ffff;
    font-size: 1rem;
    font-weight: 700;
}


.cancelar_pedido:hover {
    background-color: #fff;
    color: #773832;
    transition: 200ms;
    border: #773832 solid 2px;
}


/* =========================================== */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    min-height: 60vh;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #d6b45a solid 1px;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    color: #d6b45a;
    font-weight: 700;
    font-size: larger;
}

.cerrar:hover {
    color: #773832;

}

.datos_plato {
    width: 80%;
    padding: 5px;
    border-bottom: #d6b45a solid 1px;
}

.datos_plato span {
    color: #333;
    font-style: italic;
}

.estado_plato {
    display: flex;
    flex-direction: row;
    gap: 3px
}

.button_cancelar {
    width: 20%;

}

.cancelar_todo_pedido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: solid 1px #d6b45a;
    margin-top: 10px;
}

.button_cancelar button,
.cancelar-total {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border: #773832 solid 1px;
    cursor: pointer;
    color: #773832;
    font-size: 1rem;
    font-weight: 600;
}

.cancelar-total {
    width: 20%;
}

.button_cancelar button:hover,
.cancelar-total:hover {
    background-color: #773832;
    color: #fff;
    transition: 200ms;
}

.plato {
    display: flex;
    flex-direction: row;
}

.seleccionar_ruta {
    width: 100%;
    height: 10vh;
    border: none;
    background-color: #d6b45a;
    color: #fff;
    border-radius: 10px;
    font-size: 1.5rem;
}

.seleccionar_ruta:hover,
.empezar_ruta:hover {
    background-color: #fff;
    color: #d6b45a;
    transition: 200ms;
    border: #d6b45a solid 2px;
}