<section>
    <div class="container">
        <div class="cola_preparar">
            <div class="cabeza_cola">
                <h2>Platillos en Cola</h2>
            </div>
            <div class="cola">
                <div class="platillo_item" *ngFor="let platillo of listaspendiente">
                    <img [src]="platillo.Ruta_imagen" alt="">
                    <h3>{{ platillo.Nombre_platillo }}</h3>
                    <h3 class="p_mesa" *ngIf="platillo.Nombre_mesa">{{platillo.Nombre_mesa}}</h3>
                    <h3 class="p_domicilio" *ngIf="platillo.Tipo_pedido == 'Entrega'">Pedido a domicilio </h3>
                    <h6>ID pedido:{{ platillo.id_pedido }}</h6>
                    <h6>Estado: {{platillo.estado}}</h6>
                </div>
            </div>

        </div>
        <div class="platillo_preparado">
            <div class="cabeza_preparando">
                <h2>Rol usuario: </h2>
                <h2>Nombre Completo</h2>
            </div>
            <div class="preparando_plato">
                <div class="plato_y_botones">
                    <div class="plato_en_curso" *ngIf="primerPlatillo; else sinPlatillo">
                        <img [src]="primerPlatillo.Ruta_imagen" alt="">
                        <h1>{{ primerPlatillo.Nombre_platillo }}</h1>
                        <h2 class="p_mesa" *ngIf="primerPlatillo.Nombre_mesa">{{primerPlatillo.Nombre_mesa}}</h2>
                        <h2 class="p_domicilio" *ngIf="primerPlatillo.Tipo_pedido == 'Entrega'">Pedido a domicilio </h2>
                        <h6>ID detalle pedido:{{ primerPlatillo.id_detalle }}</h6>

                    </div>

                    <ng-template #sinPlatillo>
                        <h3>No hay platillos pendientes.</h3>
                    </ng-template>

                    <div class="botones_platillo">
                        <button type="button" class="buton-style" id="Listo" title="Listo"
                            (click)="terminar_plato('listo', primerPlatillo?.id_detalle)">Listo</button>
                        <button type="button" class="buton-style" id="Cancelar" title="Cancelar"
                            (click)="cancelar_pedido(primerPlatillo?.id_detalle, primerPlatillo?.id_pedido, primerPlatillo?.Nombre_platillo, primerPlatillo?.id_mesa)">Cancelar</button>
                    </div>
                </div>
                <div class="detalles_del_plato">
                    <h2>Detalles del plato</h2>
                    <h3>{{primerPlatillo?.detalles_adicionales}}</h3>
                </div>
            </div>
        </div>
    </div>

</section>